$primary-color: #33ca7f;
$primary-color-dark: #0c8346;
$secondary-color: #71f79f;
$action-color: #e9d985;
$circle-color: #dee5e5;
$text-color: black;
$text-color: #151919;
$bg-color: #fcefef;

$animation-time: 1s;